.connexion, .create-account {
    margin: 0 auto;
}

#connexion, #create-account {
	height: 100%;
	text-align: center;
	width: 100%;
	position: fixed;
}

form .links a {
/*	margin: 1em;
	display: block;*/
	margin: .5em;
}

.links {
	margin-top: 3em;
}